
body {
    background-color: rgb(9, 65, 9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  
  
h1 {
    text-align: center;
    text-shadow: 2px 2px 5px green;
  }
  
.dealer {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    text-shadow: 2px 2px 5px green;
  }

.player {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    text-shadow: 2px 2px 5px green;
  }
  
  .buttons {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
  }

  button:hover {
      cursor: pointer;
      transition: 1s;
      transform: scale(1.2);
  }
  
  .rules {
    text-align: center;
    text-shadow: 1px 1px 20px green;
    font-weight: 900;
    color: black;
  }